body {
    font-family: 'Arial, sans-serif';
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.page-container {
    width: 100%;
    padding-top: 7%;
}

.containerr-1 {
    width: 100%;
    background-image: url('../assets/iiitd-image1.jpg');
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10% 0;
    transition: background 0.5s ease-in-out;
}

.content-1 {
    max-width: 100%;
    width: inherit;
}

.head-1 {
    padding: 20px;
    margin-bottom: 20px;
    font-size: 35px;
    background-color: rgba(240, 248, 255, 0.9);
    border-radius: 25px;
    color: black;
    font-weight: 300;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.head-1:hover {
    transform: scale(1.05);
    background-color: rgba(240, 248, 255, 1);
}

.button-1 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-1:hover {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    transform: scale(1.05);
}

.p-1 {
    margin-bottom: 20px;
    background-color: rgba(240, 248, 255, 1);
    border-radius: 5px;
    padding: 1%;
}

.container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #f9f9f9;
}

.design-elements {
    width: 50%;
    margin-right: 20px;
}

.content-2 {
    font-size: 36px;
}

.containerr-3 {
    padding: 50px;
    background-color: #fff;
}

.containerr-3 h2 {
    font-size: 36px;
}

.content-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about {
    width: 60%;
    font-size: 18px;
    line-height: 1.6;
}

.contact-us {
    width: 35%;
    text-align: right;
}

.icons {
    margin-right: 5rem;
    display: flex;
    justify-content: flex-end;
    gap: 5%;
}

.icon_link {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.icon_link:hover {
    filter: brightness(150%);
    transform: scale(1.1);
}

.container-4 {
    padding: 50px;
    background-color: #f5f5f5;
    text-align: center;
}

.container-4 h2 {
    font-size: 36px;
}

.content-4 {
    margin-top: 20px;
    font-size: 18px;
}

.button-2 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-2:hover {
    background: rgba(231, 231, 231, 0.8);
    transform: scale(1.05);
}

.container-5 {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.container-5 h2 {
    font-size: 36px;
}

.content-5 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.partner-logo {
    width: 150px;
}
