body {
    /* font-family: 'Arial, sans-serif'; */
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 7% 10%;
  }
  .section-introo {
    background-image: url('../assets/iiitd-image2.jpg'); /* Add your background image */
    background-size: cover;
    background-position: center -120px; /* Adjust vertical position to crop top and bottom */
    height: 20rem;
    margin-top: -2rem; /* Increase top margin */
    color: white; /* Make text color white */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .section-introo h1, .section-introo p {
    color: rgb(0, 0, 0); /* Ensure text color is white */
    margin-top: 0; /* Reset margin */
    padding: 0.5em 1em; /* Add some padding */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background for better readability */
    border-radius: 8px; /* Optional: Add rounded corners */
  }
  
  .section {
    margin-bottom: 2em;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2em;
    transition: transform 0.3s;
  }
  
  .section:hover {
    transform: translateY(-5px);
  }
  
  .title {
    font-size: 2em;
    color: #343a40;
    margin-bottom: 0.5em;
  }
  
  .intro {
    font-size: 1.2em;
    color: #6c757d;
    margin-bottom: 1em;
    text-align: left;
  }
  
  .program-link {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .program-link:hover {
    background-color: #0056b3;
  }
  